#navbar{
    text-align:center;
}
#navbar li{
 display:inline-block;
 border: 3px dashed blue;
 font-size: 25px;
 padding: 3px;
 color: white;
 transform:rotateZ(0deg);
 transition: .4s all linear;
}
#navbar a{ color:white;
font-family: courier;
font-size: inherit;
text-decoration: none;
 transition: .4s all linear;
}
#navbar li:hover{
    background-color: red;
     transform:rotateZ(720deg);
     font-size:40px;
}
