#navbar{
    text-align:center;
}
#navbar li{
 display:inline-block;
 border: 3px dashed blue;
 padding: 3px;
 color: white;
 transform:rotateZ(0deg);
 transition: .5s all linear;
}
#navbar li:hover{
    background-color: red;
     transform:rotateZ(360deg);
}

#navbar a{ color:white;
font-family: courier;
font-size: 25px;
text-decoration: none;
 transition: .5s all linear;
}
